{% extends 'base_nav.html' %}
{% load static %}

{% block page_title %}
    Login
{% endblock page_title %}

{% block css %}
<!-- <link rel="stylesheet" href="{% static 'empower360/questionnaire.css' %}"> -->
{% endblock css %}

{% block page_content %}
<div class="container_grid">
      <div class="section_container">
          <div class="top">
              <div class="sec_form login">
                <h2>Login</h2>
                <form method="post">
                    {% csrf_token %}

                    {% for error in form.non_field_errors%}
                        <p class="msg_error">{{error}}</p>
                    {% endfor %}


                     {% for field in form%}
                    <div class="s_input">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}



                    {# form.as_p #}
                    <button type="submit">Login</button>
                </form>

                  <a href="{% url 'empower360:signup' %}" class="creat">Create Account</a>

              </div>
            </div>
        </div>
</div>
{% endblock %}