
{% extends 'base_nav.html' %}
{% load static %}

{% block page_title %}
    Unauthorized Access
{% endblock page_title %}

{% block css %}
<link rel="stylesheet" href="{% static 'empower360/questionnaire.css' %}">
{% endblock css %}

{% block page_content %}
<div class="container_grid">
      <div class="section_container">
          <div class="top">
              <h1>Unauthorized Access</h1>
              <p>You are not authorized to view this page.</p>
            </div>
        </div>
</div>
{% endblock %}